<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="msbuild_gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <msbuild_gui.Properties.Settings>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Provider" serializeAs="String">
                <value>Azure</value>
            </setting>
            <setting name="Model" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelList" serializeAs="String">
                <value>gpt-3.5-turbo,gpt-3.5-turbo-16k,gpt-3.5-turbo-16k-instruct,gpt-3.5-turbo-1106,gpt-4,gpt-4-0613,gpt-4-1106-preview,gpt-4-vision-preview</value>
            </setting>
            <setting name="AzDeploymentId" serializeAs="String">
                <value />
            </setting>
            <setting name="AzBaseDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </msbuild_gui.Properties.Settings>
    </userSettings>
</configuration>